# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Maven target folder
target/

# Logs
*.log

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# IDE-specific working directories or temporary files
.vscode/
